<div class="container">
    <div class="row">
        <div class="col-md-16">
          <h1 align="center">Admin Dashboard </h1>
          <hr>
<p>
  <%= link_to "Add Experience", new_experience_path, class: "btn btn-info" %>
</p>
<details close>
  <summary>Review pending Experiences</summary>
  <% @pending_experiences.each do |p| %>
    <p><%= link_to p.title, experience_path(p) %> | Submitted on: <%= p.created_at %></p>
  <% end %>
</details>

  <hr>
  <h4>Filter orders by status</h4>
    <%= link_to "ALL ORDERS", admin_dashboard_index_path %> (<%=@orders.all.count %>)  |
    <%= link_to "ORDERED", admin_dashboard_index_path(status: "Ordered") %> (<%= @orders.where(status: "Ordered").count %>)  |
    <%= link_to "PAID", admin_dashboard_index_path(status: "Paid") %> (<%= @orders.where(status: "Paid").count %>)  |
    <%= link_to "COMPLETED", admin_dashboard_index_path(status: "Completed") %> (<%=@orders.where(status: "Cancelled").count %>) |
    <%= link_to "CANCELLED", admin_dashboard_index_path(status: "Cancelled") %> (<%=@orders.where(status: "Completed").count %>)
  </p><br>
<div class="order-table">
  <h4>All Orders</h4>
  <table style=“width:100%“ class="table table-striped">
   <tr>
     <th style="width:25%">Order number</th>
     <th style="width:25%">Order status</th>
     <th style="width:50%">Update status</th>
   </tr>
   <% @orders.each do |order| %>
   <tr>
     <td><%= link_to order.id, order_path(order) %></td>
     <td><%= order.status %></td>
     <td><%= link_to "Cancel order #{order.id}", order_path(order, status: "Cancelled"), method: :put if order.status == "Paid" || order.status == "Ordered" %>
       &nbsp;&nbsp;&nbsp;
     <%= link_to "Mark order #{order.id} paid", order_path(order, status: "Paid"), method: :put if order.status == "Ordered" %>
     &nbsp;&nbsp;&nbsp;
     <%= link_to "Mark order #{order.id} complete", order_path(order, status: "Completed"), method: :put if order.status == "Paid" %> </td>
   </tr>
   <% end %>
  </table>
</div>
