<div class="container">
    <div class="row">
        <div class="col-md-16">
          <!-- main container div -->
          <!-- carousel begins -->
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="/experiences/8"><img class="slide-image" src="https://www.flairtradetravels.org/assets/arch-denver-tour.png" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="/experiences/4"><img class="slide-image" src="https://www.flairtradetravels.org/assets/floating-bangkok-tour.png" alt=""></a>
                            </div>
                            <div class="item">
                                <a href="/experiences/14"><img class="slide-image" src="https://www.flairtradetravels.org/assets/sup-hawaii-tour.png" alt=""></a>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <!-- carousel end -->
            </div>
            <!-- grid section -->
            <h3 align="center">FEATURED EXPERIENCES</h3>
            <hr>
            <% @random_experiences.each do |rando|  %>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <%= image_tag "#{rando.photo}", class: "thumbnail", size: "304x236" %>
                        <div class="caption">
                            <h4 class="pull-right">$<%= rando.cost %></h4>
                            <h4><%= link_to rando.title[0..30], experience_path(rando) %></a>
                            </h4>
                            <p><%= rando.description[0..137] %>... <%= link_to "Learn more", experience_path(rando) %></p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">12 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<!-- /.container ends -->
