<h1>All Orders</h1>
<p>
<% @orders.each do |order| %>
  Date created: <%= order.created_at %><br>
  Status: <%= order.status %><br>
  Date status updated: <%= order.updated_at %><br>
  Total price: $<%= order.total_price %><br><br>
  <% end %>
</p>

<%= link_to "Check out All Experiences", experiences_path %>
