<h1>All Orders</h1>
<div class="orders">
  
<% @orders.each do |order| %>
  <div>
    Date created: <%= link_to order.created_at, order_path(order) %><br>
    Status: <%= link_to order.status, order_path(order) %><br>
    Date status updated: <%= order.updated_at %><br>
    Total price: $<%= order.total_price %><br><br>

  </div>
  <% end %>
</div>

<p>
<%= link_to "Check out All Experiences", experiences_path %>
</p>
