<div class="container">
    <div class="row">
        <div class="col-md-16">

<h1 align="center">Submitted for approval</h1>
<hr>
<!-- <br>

<p>Welcome! Thanks for your interest in becoming a guide. We prefer our guides to have completed at least one experience with an existing TripVonTrapp guide to get the ball rolling on becoming a guide. However, if no experiences exist in your city, you may also start the process. If either scenario describes you, submit this form to submit the experience you'd to lead to begin the approval process. We'll review your experience submission and be in touch to discuss your guide status soon.</p>
<br>
<h3>Submit a new experience</h3> -->
<hr>
<%= form_for @experience  do |f| %>
<% if current_user.admin? %>
  <%= f.label :status %>
  <%= f.select(:status, options_for_select([['pending'], ['active']])) %>
<% else %>
<% end %>
  <%= f.label :title %>
  <%= f.text_field :title%>
  <%= f.label :cost%>
  <%= f.text_field :cost%>
  <%= f.label :city %>
  <%= f.text_field :city%><br>
  <br><br>
  <%= f.label :description%>
  <%= f.text_area :description%>
  <br><br>
  <%= f.label :photo %>
  <%= f.file_field :photo%><br>

  <%= f.label :category_id%>
  <% @categories.each do |category| %>
    <div>
      <%= check_box_tag(:category_ids, category.id, false,
                        name: 'experience[category_ids][]',
                        id: "category-#{category.id}") %>
      <%= category.name %>
    </div>
    <% end %>
    <br>
  <%= f.submit class: "btn btn-info" %>
<% end %>

</div>
</div>
</div>
