<h1>Vacation Like a Local</h1>

<h3> <%= link_to "Browse by Interest", categories_path  %><h3>

<%  @experiences.each do |experience| %>
    <h2> <%= experience.title %></h2>
    <%= image_tag "#{experience.image_path}", class: "thumbnail", size: "304x236" %>
        <p>Cost per person: $<%= experience.cost %></p>
        <p>Categories: <% experience.categories.pluck(:name).each do |name| %>
          <%= link_to "#{name}", category_path(experience.categories) %>
          <% end %></p>
  <%= button_to "Add to cart", carts_path(experience_id: experience.id) %><br>
<% end %>
