<h1>Vacation Like a Local</h1>

<%  @experiences.each do |experience| %>

    <h2> <%= link_to "#{experience.title}", experience_path(experience) %></h2>
      <%= image_tag "#{experience.image_path}", class: "thumbnail", size: "304x236" %>
        <p>Cost per person: $<%= experience.cost %></p>
        <p>Categories: <% experience.categories.each do |category| %>
          <%= link_to "#{category.name}", category_path(category) %>
          <% end %></p>
  <%= button_to "Add to cart", cart_path(experience_id: experience.id), class: "btn btn-info" if experience.status == "active" %><br>

  <p><%= "This experience is no longer available. It has been retired." if experience.status == "retired" %></p>
<% end %>
