<div class="container">
    <div class="row">
        <div class="col-md-16">
          <h1 align="center">Add New Experience</h1>
          <hr>



<%= form_for @experience  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title%>
  <%= f.label :description%>
  <%= f.text_area :description%>
  <%= f.label :cost%>
  <%= f.text_field :cost%>
  <%= f.label :city %>
  <%= f.text_field :city%><br>

  <%= f.label :photo %>
  <%= f.file_field :photo%><br>

  <%= f.label :category_id%>
  <% @categories.each do |category| %>
    <div>
      <%= check_box_tag(:category_ids, category.id, false,
                        name: 'experience[category_ids][]',
                        id: "category-#{category.id}") %>
      <%= category.name %>
    </div>
    <% end %>
  <%= f.submit class: "btn btn-info" %>
<% end %>
</div>
</div>
</div>
