<div class="container">
    <div class="row">
        <div class="col-md-16">

<% if current_user %>
<h1 align="center">Become a Guide!</h1>
<hr>
<br>

<p>Welcome! Thanks for your interest in becoming a guide. We prefer our guides to have completed at least one experience with an existing TripVonTrapp guide to get the ball rolling on becoming a guide. However, if no experiences exist in your city, you may also start the process. If either scenario describes you, submit this form to submit the experience you'd to lead to begin the approval process. We'll review your experience submission and be in touch to discuss your guide status soon.</p>
<br>
<h3>Submit a new experience</h3>
<hr>
<%= form_for @experience  do |f| %>
<% if current_user.admin? %>
  <%= f.label :status %>
  <%= f.select(:status, options_for_select([['pending'], ['active']])) %>
<% else %>
<% end %>
  <%= f.label :title %><br>
  <%= f.text_field :title%><br><br
  <%= f.label :cost%><br>
  <%= f.text_field :cost%><br><br>
  <%= f.label :city %><br>
  <%= f.text_field :city%><br><br>
  <%= f.label :description%><br>
  <%= f.text_area :description%>
  <br><br>
  <p>Please choose and upload a photo that best embodies your experience. Please make sure you took the photo, it has commercial reuse licence, or is otherwise available for use with your experience. We check all photos for legal use and submitting a questionable photo could delay your guide approval process.<br><br>
  <%= f.label :photo %>
  <%= f.file_field :photo%><br>

  <%= f.label :category_id%>
  <% @categories.each do |category| %>
    <div>
      <%= check_box_tag(:category_ids, category.id, false,
                        name: 'experience[category_ids][]',
                        id: "category-#{category.id}") %>
      <%= category.name %>
    </div>
    <% end %>
    <br>
  <%= f.submit class: "btn btn-info" %>
<% end %>

<% else %>
<div class="jumbotron">
        <p class="lead" align="center">To learn more about becoming a guide, create an account and log in to access this page!</p>
        <p align="center"><%= link_to "Create Account", new_user_path, class: "btn btn-info" %></p>
</div>
<% end %>

</div>
</div>
</div>
