<div class="container">
    <div class="row">
        <div class="col-md-16">
          <h1 align="center">Add New Experience</h1>
          <hr>
          <br>
<% if current_user.admin? %>
<% else %>

   <h3>Submit this form to begin the approval process to have your experience hosted on our site.</h3>

<% end %>
<br>


<%= form_for @experience  do |f| %>
<% if current_user.admin? %>
  <%= f.label :status %>
  <%= f.select(:status, options_for_select([['pending'], ['active']])) %>
<% else %>
<% end %>
  <%= f.label :title %>
  <%= f.text_field :title%>
  <%= f.label :description%>
  <%= f.text_area :description%>
  <%= f.label :cost%>
  <%= f.text_field :cost%>
  <%= f.label :city %>
  <%= f.text_field :city%><br>

  <%= f.label :photo %>
  <%= f.file_field :photo%><br>

  <%= f.label :category_id%>
  <% @categories.each do |category| %>
    <div>
      <%= check_box_tag(:category_ids, category.id, false,
                        name: 'experience[category_ids][]',
                        id: "category-#{category.id}") %>
      <%= category.name %>
    </div>
    <% end %>
    <br>
  <%= f.submit class: "btn btn-info" %>
<% end %>
</div>
</div>
</div>
