<div class="container">
    <div class="row">
        <div class="col-md-16">
          <h1 align="center"><%= @experience.title %></h1>
          <hr>

          <%= image_tag @experience.photo.url(:medium) %>

    <p><%= @experience.description %>
    <p>Location: <%= @experience.city %></p>
    <p>Cost per person: $<%= @experience.cost %></p>
    <p>Categories: <% @experience.categories.each do |category| %>
      <%= link_to "#{category.name}", category_path(category) %>
      <% end %></p>

  <%= button_to "Add to cart", cart_path(experience_id: @experience.id), class: "btn btn-info" if @experience.status == "active" %><br>
  <h3><%= "This experience is no longer available. It has been retired." if @experience.status == "retired" %></h3>

  <%= link_to "Delete", experience_path(@experience), method: :delete %>
</div>
</div>
</div>
