<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    				<thead>
						<tr>
							<th style="width:50%">Experience</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody>
            <% @cart_experiences.each do |experience| %>
						<tr>
							<td class="image_path" data-th="Product">
								<div class="row">
									<div class="col-sm-2 hidden-xs" class="image_path"><img src="<%= experience.image_path %>" alt="..." class="img-responsive"/></div>
									<div class="col-sm-10">
										<h4 class="nomargin"><%= experience.title %></h4>
										<p><%= experience.description %></p>
									</div>
								</div>
							</td>
							<td data-th="Price"><%= experience.cost %></td>
							<td class="quantity" data-th="Quantity">
								<input type="number" class="form-control text-center" value="<%= experience.quantity %>">
                <%= button_to "+", cart_path(experience_id: experience.id, type: "increase"), class: "btn-sm", method: :put %>
                <%= button_to "-", cart_path(experience_id: experience.id, type: "decrease"), class: "btn-sm", method: :put %>
								</td>
							<td class="subtotal" data-th="Subtotal" class="text-center"><%= experience.subtotal %></td>
							<td class="actions" data-th="">
								<%= button_to "remove", '/cart/remove', method: :put, params: [experience_id: experience.id], class: "btn btn-danger btn-sm" %>
							</td>
						</tr>
            <% end %>
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong><%= @cart.total %></strong></td>
						</tr>
						<tr>
							<td><a href="/experiences" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total: $<%= @cart.total %></strong></td>
							<td>
								<% if current_user %>
								<%= link_to "Checkout", orders_path, method: :post, class: "checkout btn btn-success btn-block" %>

								<% else %>
									<%= link_to "Create Account", new_user_path, class: "btn btn-success btn-block" %>
								<% end %>
							</td>
						</tr>
					</tfoot>
				</table>
</div>
