<div class="container">
    <div class="row">
        <div class="col-md-16">
          <h1 align="center">Experiences in the <%= @category.name %> Category</h1>
          <hr>
          <% @category.experiences.each do |experience| %>
            <div class="col-sm-4 col-lg-4 col-md-4">

                <h4><%= link_to "#{experience.title}", experience_path(experience) %></h4>
                <%= image_tag "#{experience.photo}", class: "thumbnail", size: "304x236" %>
                <p>Cost per person: $<%= experience.cost %></p>
                <div >
                  <%= button_to "Add to cart", cart_path(experience_id: experience.id), class: "btn btn-info" if experience.status == "active" %>
                  <%= link_to "Retired", experience_path(experience), class: "btn btn-warning" if experience.status == "retired" %>
                </div>
              <hr>
            </div>
          <% end %>
        </div>
    </div>
</div>
