<!DOCTYPE html>
<html>
  <head>
    <title>Tripvontrapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand" href="cart">Cart (<%= @cart.total_count %>)</a>
      </div>
    </nav>

    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: type %>
    <% end %>

    <%= yield %>
  </body>
</html>
