<!DOCTYPE html>
<html>
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <meta name="description" content="">
        <meta name="author" content=""> -->

        <title>TripVonTrapp</title>
        <%= csrf_meta_tags %>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="css/shop-homepage.css" rel="stylesheet">

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">TripVonTrapp</a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="experiences">Browse by Experiences</a></li>
                        <li><a href="categories">Browse by Category</a></li>
                        <li><a href="#">Contact</a></li>
                        <li id="view_cart"><a href="cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart (<%= @cart.total_count %>)</a></li>
                        <% if current_user %>
                          <li id="logout"><%= link_to "Logout", logout_path, method: :delete %></li>
                        <% else %>
                          <li id="login"><%= link_to "Login", login_path %></li>
                        <% end %>
                          <!-- <#% if current_user ....%#>  LINK TO AUTH NAV, check gifgenerator, and in show for cart too -->

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- original content below -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
            <% flash.each do |type, message| %>
              <div class="alert alert-<%= type %>">
              <button type="button" class="close" data-dismiss='alert'>x</button>
            <%= sanitize(message) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

<!-- Footer -->
       <footer>
           <div class="row">
               <div class="col-lg-12">
                  <p>&nbsp;</p>
                   <p align="center">Copyright &copy; Team Sauce 2017</p>
               </div>
           </div>
       </footer>

   <script src="/js/jquery.js"></script>
   <script src="/js/bootstrap.min.js"></script>

</body>

</html>
